{block #content}
<section class="order-result">
    <h1>Rezervace se nezdařila</h1>

     <div class="detail-card">
        <p>Vaše platba neproběhla správně, proto jsme nemohli dokončit vaši rezervaci. Zkuste to prosím znovu.</p>
    </div>
</section>