validDays: 'Platné dny'
validFrom: 'Platnost od'
validTo: 'Platnost do'
msgFillTimeFrom: 'Vyplňte prosím čas od'
msgFillTimeTo: 'Vyplňte prosím čas do'
invertValidTime: 'Invertovat platnost času'
msgDuplicateSlug: 'Slug musí být unikátní.'
msgWrongSlugFormat: 'Slug může obsahovat pouze znaky a-z, 0-9, nebo pomlčku.'
forFree: 'Zdarma'
useOfPlace: 'Využití místa'
useOfPlaceDetail: 'Detail využití místa'
addUseOfPlace: 'Nové využití místa'
msgRecordDeleted: 'Záznam byl smazán.'
offerByTimeWindow: 'Nabízet dle časových oken'
offerManually: 'Nabízet manuálně'
positionsCapacityFree: 'Právě je %free% volné místo|Právě jsou %free% volná místa|Právě je %free% volných míst'
positionsCapacityTotal: 'z jednoho místa|z celkových %capacity% míst|z celkových %capacity% míst'
addPosition: 'Přidat pozici'
