mondayShort: 'Po'
tuesdayShort: 'Út'
wednesdayShort: 'St'
thursdayShort: 'Čt'
fridayShort: 'Pá'
saturdayShort: 'So'
sundayShort: 'Ne'

currency: 'Měna'
price: 'Cena'
forFree: 'Zdarma'
email: 'Email'
phone: 'Telefon'
type: 'Typ'
slug: 'Slug'
lat: 'Lat'
lng: 'Lng'

termsAndConditions: 'Obchodní podmínky'
faq: 'Časté dotazy'
cookiesText: 'Tento web používá k poskytování služeb, analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.'
state: 'Stav'
cancel: 'Zrušit'
