homepagestats:
    parkingSpaces: 'Míst'
    reservations: 'Lístků'
    paid: 'Zaplaceno'
    users: 'Uživatelů'
    yearRecap: 'Roční rekapitulace'
    currency: 'Kč'
    dataFromTo: 'Data od %from% do %to%'
    month01: 'Leden'
    month02: 'Únor'
    month03: 'Březen'
    month04: 'Duben'
    month05: 'Květen'
    month06: 'Červen'
    month07: 'Červenec'
    month08: 'Srpen'
    month09: 'Září'
    month10: 'Říjen'
    month11: 'Listopad'
    month12: 'Prosinec'
usersgrid:
    login: 'Login'
    name: 'Celé jméno'
placesgrid:
    id: 'ID'
    street: 'Ulice'
    identifier: 'Kód'
    price: 'Cena'
    lat: 'Lat'
    lng: 'Lng'
    capacity: 'Kapacita'
    empty: '-------------'
    type: 'Typ'
    positionsCapacity: 'Volná místa / Kapacita'
    types:
        prospect: 'Prospect'
        resident: 'Resident'
        handicapped: 'Pro vozíčkáře'
        automat: 'Automat'
        timedisc: 'Kotouč'
        selected: 'Výběrové'
        free: 'Zdarma'
        shared: 'Sdílené'
        smszone: 'SMS zóna'
    deleteConfirm: 'Opravdu smazat parkovací místo?'
creditsgrid:
    username: 'Email'
    name: 'Jméno'
    typeChargeByGate: 'Dobití kreditu přes platební bránu'
    chargeByClaim: 'Dobití kreditu nárokem z města'
    price: 'Počet kreditů'
    createdAt: 'Vytvořeno dne'
cardsgrid:
    username: 'Email'
    rz: 'Registrační značka'
    company: 'Název firmy'
    cin: 'IČ'
    handicapped: 'Hendikepovaný'
placecardsgrid:
    username: 'Email'
    fullName: 'Celé jméno'
inspectionsgrid:
    id: 'ID'
    street: 'Název ulice'
    code: 'Kód parkovacího místa'
    date: 'Datum'
    result: 'Výsledek'
    detail: 'Detail'
    delete: 'Smazat'
maintenancesgrid:
    id: 'ID'
    street: 'Název ulice'
    code: 'Kód parkovacího místa'
    date: 'Datum'
    result: 'Výsledek'
    detail: 'Detail'
    delete: 'Smazat'
ordersgrid:
    id: 'ID'
    vs: 'VS'
    placeIdentifier: 'Identifikátor'
    price: 'Cena'
    paid: 'Zaplaceno'
    refund: 'Refundace'
    rz: 'SPZ'
    email: 'E-mail'
    from: 'Od'
    to: 'Do'
    paymentType: 'Způsob platby'
    paymentTypeGate: 'Platební brána'
    paymentTypeCredit: 'Kredit'
    paymentTypeFree: 'Zdarma'
    paymentTypeSms: 'SMS'
organizationsgrid:
    id: 'ID'
    cin: 'IČ'
    name: 'Jméno'
    address1: 'Adresa 1'
    address2: 'Adresa 2'
    deleteConfirm: 'Opravdu smazat organizaci?'
timewindowsgrid:
    weekday: 'Den v týdnu'
    begin: 'Začátek'
    end: 'Konec'
weekdays:
    monday: 'Pondělí'
    tuesday: 'Úterí'
    wednesday: 'Středa'
    thursday: 'Čtvrtek'
    friday: 'Pátek'
    saturday: 'Sobota'
    sunday: 'Neděle'
historysenzorgrid:
    id: 'Id'
    device: 'Číslo parkovacího senzoru'
    lat: 'Lat'
    lng: 'Lng'
    status: 'Stav parkovacího místa'
    statusFull: 'Obsazeno'
    statusFree: 'Volno'
    statusUndefined: 'Neznámý'
    createdAt: 'Vytvořeno dne'
positiongrid:
    id: 'Id'
    senzorNumber: 'Číslo parkovacího senzoru'
    senzorName: 'Název'
    senzorStatus: 'Stav parkovacího místa'
    senzorStatusFull: 'Obsazeno'
    senzorStatusFree: 'Volno'
    senzorStatusUndefined: 'Neznámý'
    senzorStatusCahngedAt: 'Status změněn dne'
