parkingPlaces: 'Parkovací místa'
myReservations: 'Moje rezervace'
myAccount: 'Můj účet'
placesInspection: 'Kontrola míst'
reservation: 'Rezervace'
parkingFrom: 'Parkování od'
parkingTo: 'Parkování do'
parkingTime: 'Doba parkování'
rz: 'SPZ'
minutesCount: '%minutes% minút'
creditsCount: '%credits% kreditů'
reserve: 'Rezervovat'
pay: 'Zaplatit'
msgReservationSucceed: 'Rezervace proběhla úspěšně.'
msgReservationCanceled: 'Rezervace byla zrušena.'
msgReservationFailed: 'Platba rezervace selhala.'
msgReservationInProgress: 'Probíhá zpracování rezervace.'
msgCancelReservationSucceed: 'Stornování rezervace proběhlo úspěšně.'
msgReservationAlreadyCanceled: 'Rezervace je už stornována.'
createdReservation: 'Nezaplacena'
waitingReservation: 'Čekající na platbu'
paidReservation: 'Zaplacena'
canceledReservation: 'Stornována'
processingReservation: 'Probíha zpracování'
fullRefundedReservation: 'Plně přeplacena'
partlyRefundedReservation: 'Částečně přeplacena'
presentReservations: 'Aktuální'
waitingReservations: 'Čekající na platbu'
lastReservations: 'Poslední'
futureReservations: 'Budoucí'
reservationDetail: 'Detail rezervace'
newPassword: 'Nové heslo'
confirmNewPassword: 'Potvrďte nové heslo'
passwordDoNotMatch: 'Hesla musí být stejná.'
passwordLengthAtLeast: 'Heslo musí být dlouhé minimálně %length% znaků.'
changePassword: 'Změnit heslo'
enterNewPassword: 'Zadejte nové heslo'
passwordChangeSuccess: 'Změna hesla proběhla úspěšně, nyní se můžete <a href="%link%">přihlásit</a>.'
