ordersummary: 'Rekapitulace objednávky #%id%'
billParking: 'Účtenka za parkování %vs%'
soonExpire: 'Vypršení rezervace #%id%'
cancelledRefund: 'Zrušení rezervace #%id%'
acceptSparePlace: 'Potvrzení náhradní rezervace #%id%'
reservation: 'Rezervace #%id%'
street: 'Ulice'
city: 'Město'
from: 'Od'
to: 'Do'
interval: 'Interval'
rz: 'RZ'
action: 'Akce'
showOnMap: 'Zobrazit na mapě'
extendReservation: 'Prodloužení rezervace'
freeReservation: 'Uvolnění rezervace'
emergencyReservation: '(!) Nouzové prodloužení'
order: 'Objednávka'
spareReservationAccept: 'Potvrzení náhradní rezervace'
cancelReservation: 'Zrušení rezervace'
cancelReservationDesc: 'Vaše rezervace byla zrušena z důvodu nouzového prodloužení jiné rezervace.'
sparePlaceNotFound: 'Bohužel jsme pro vás nenalezli náhradní misto. Peníze vám budou případně vráceny na účet. Děkujeme za pochopení.'
selectSparePlace: 'Vybrali jsme pro vás náhradní místo.'
moneyReturn: 'Peníze vám budou případně vráceny na účet.'
acceptSparePlaceLink: 'Můžete ho příjmout nebo odmítnou zde.'
reservationSoonExpire: 'Blíží se konec rezervace Vašeho místa.'
goAway: 'Za 10 minut přijede na Vaše místo další vozidlo, přeparkujte prosím!'
extendYourReservation: 'Prodlužte rezervaci kliknutím na <a href="%link%">zde</a>, nebo přeparkujte své vozidlo.'
parkingBill: 'Účtenka za parkování'
simpleInvoice: 'Zjednodušený daňový doklad'
invoiceNumber: 'Číslo dokladu'
supplier: 'Dodavatel'
cin: 'IČ'
tin: 'DIČ'
subscriber: 'Odběratel'
parking: 'Parkoviště'
timeIncome: 'Čas příjezdu'
duration: 'Délka pobytu'
dateOfIssue: 'Datum vystavení'
bank: 'Bankovní spojení'
vs: 'Variabilní symbol'
ks: 'Konstantní symbol'
phone: 'Telefon'
email: 'E-mail'
priceWithoutVat: 'Cena bez DPH'
vat: 'DPH'
currency: 'Kč'
toPay: 'Celkem k úhradě'
thxMessage: 'Děkujeme, že jste využili našich služeb a přejeme hezký den!'
resetPassword:
    passwordChangeRequest: 'Žádost o změnu hesla'
    youHaveSubmittedRequest: 'Zaslali jste žádost o změnu hesla.'
    clickForChange: "Pokud tomu tak nebylo, ignorujte tento e-mail a ujistěte se, že se stále můžete přihlásit k účtu. Pokud jste to vy, proveďte změnu hesla <a href=\"%link%\">kliknutím sem</a>."
    thanks: 'Děkujeme.'
