orders:
    title: 'Parkovací lístky'
bankdetail:
    title: 'Správa organizací'
    bankDetail: 'Detail bankovních údajů'
cards:
    title: 'Správa parkovacích karet'
    cardDetail: 'Detail parkovací karty'
    addCard: 'Nová parkovací karta'
    timeWindows: 'Časová okna'
    addTimeWindow: 'Nové časové okno'
    timeWindowDetail: 'Informace o časovém oknu'
    placeOffered: 'Parkovací místo nabízeno'
    yes: 'Ano'
    no: 'Ne'
    offer: 'Nabízet'
    stopOffering: 'Nenabízet'
secure:
    title: 'Titulka'
credits:
    title: 'Přidělování kreditů'
    exportXls: 'Exportovat obsah do xls'
places:
    title: 'Správa parkovacích míst'
    detail: 'Informace o parkovacím místě'
    detailImage: 'Obrázek parkovacího místa'
    uploadImage: 'Nahrát obrázek'
    uploadImageProgress: 'Nahrává se obrázek'
    add: 'Vytvořit nové parkovací místo'
    parkingCards: 'Parkovací karty'
    totalCount: 'Celkový počet'
    assignCard: 'Přiřadit existující kartu'
    park: 'Parkujte'
    onStreet: 'na ulici %street%'
    freeNow: 'Volno hned'
    freeAfter: 'Volno za %minutes% min'
    toTime: 'do %time%'
    places: 'Parkovací místa'
    backToPlaceDetail: 'Zpět na detail parkovací místa'
    positionId: 'Position Id %id%'
    addPositionFor: 'Přidat místo pro'
    position: 'Místo v parakovišti'
inspections:
    title: 'Kontrola parkovacích míst'
    protocol: 'Protokol o kontrole'
    protocolForm: 'Formulář kontroly'
home:
    title: 'Přehled rezervace parkovacích míst pro %name%'
    header: 'Lepší parkování ve městech'
    mobileReservation: 'Rezervace a platby za parkování mobilem'
    smartZone: 'Chytré rezidentní zóny'
    actualVersion: 'Aktuální verze aplikací zasíláme městům na požádání.'
    whyUse: 'Proč by si Vaše město mělo pořídit právě tento systém?'
    pricing: 'Na kolik to vyjde?'
    mobilePay: 'Bezhotovostní platby mobilem'
    onlineReservation: 'Online rezervace a možnost prodloužení'
    navigation: 'Rychlá navigace k volnému stání'
    carefreeParking: 'Bezstarostné parkování doma i v práci'
    cheaperParking: 'Levnější parkování pro občany'
    flexibleCards: 'Flexibilní vyřizování rezidentních karet'
    allInCloud: 'Implemetace systému se neprovádí na Vašich serverech, ale pouhou registrací organizace do systému v cloudu.'
    realTime: 'Poskytuje informace o využitelnosti míst v reáném čase.'
    coolSolution: 'Oproti starým SMSkám je to cool [:kůl:] řešení.'
    betterForDrivers: 'Ulehčí řidičům vyhledání volného místa.'
    cheaperManage: 'Sníží náklady na provoz řízeného parkování.'
maintenances:
    title: 'Údržba parkovacích míst'
    detail: 'Detail'
    add: 'Přidat údržbu'
organizations:
    title: 'Správa organizací'
    terms: 'Nastavení obchodních podmínek'
    termsPersonal: 'Nastavení souhlasu se zpracováním osobních údajů'
    termsContacts: 'Nastavení kontaktních údajů'
    detail: 'Úprava informací o organizaci'
    add: 'Přidat nové město do systému rezervací'
    new: 'Nová organizace'
    form:
        submit: 'Ulož to!'
users:
    title: 'Správa uživatelů'
    add: 'Nový uživatel'
    detail: 'Detail uživatele'
    new: 'Nový uživatel'
profiles:
    profile: 'Profil'
contacts:
    detail: 'Detail bankovních údajů'
    form:
        contacts: 'Kontaktní údaje'
        submit: 'Uložit údaje'
sign:
    in: 'Přihlášení do aplikace'
base:
    title: 'zaparkujto.cz'
    titleSmall: 'Z'
    search: 'Vyhledat...'
    overview: 'Přehledy'
    logedUser: 'Přihlášený uživatel'
    logout: 'Odhlásit'
    center: 'Dohledové centrum'
    cityManage: 'Správa měst'
    setting: 'Nastavení'
    city: 'Město'
    users: 'Uživatelé'
    cards: 'Rezidentní karty'
    list: 'Seznam'
    add: 'Přidat'
    baseInfo: 'Základní údaje'
    contactInfo: 'Kontaktní údaje'
    bank: 'Banka a platební brána'
    terms: 'Obchodní podmínky'
    termsUser: 'Zpracování osobních údajů'
    drivers: 'Řidiči'
    staff: 'Zaměstnanci'
    services: 'Provoz'
    parking: 'Parkování'
    parkingEvidence: 'Místa'
    parkingOrders: 'Parkovací lístky'
    maintenances: 'Údržba'
    maintenancesList: 'Seznam míst k údržbě'
    maintenancesDone: 'Již provedené údržby'
    control: 'Kontrola'
    controlList: 'Seznam míst ke kontrole'
    controlDone: 'Již provedené kontroly'
    faq: 'Časté dotazy'
    cookies: 'Tento web používá k poskytování služeb, analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.'
    contactPhone: 'Telefon: +420 608 884 649'
    contactEmail: 'Email: zc.otjukrapaz@ym'
