{block #content}
<section class="order-result">
    <h1>Nouzová prodloužení se nezdařilo</h1>

    <div class="content">
        <p>Vaše platba neproběhla správně, proto jsme nemohli dokončit vaše nouzové prodloužení. Zkuste to prosím znovu.</p>
    </div>
</section>