{block #content}
<section class="order-result">
    <h1>Zpracování platby</h1>

    <div class="content">
        <p>Aktuálně dochází ke zpracování platby na straně platební brány GoPay, budeme vás informovat.</p>
    </div>
</section>