{extends '../@layout.admin.latte'}

{block content}

<!-- Main content -->
<section class="content">
	<div class="row">
	<div class="col-md-12">
		<p><a n:href="add" class="btn btn-primary">{_presenters.cards.addCard}</a></p>
		{control grid}
	</div>
	</div>
</section>
