mondayShort: 'Mon'
tuesdayShort: 'Tue'
wednesdayShort: 'Wed'
thursdayShort: 'Thu'
fridayShort: 'Fri'
saturdayShort: 'Sat'
sundayShort: 'Sun'

currency: 'Currency'
price: 'Price'
forFree: 'For free'
email: 'Email'
phone: 'Phone'
type: 'Type'
slug: 'Slug'
lat: 'Lat'
lng: 'Lng'

termsAndConditions: 'Terms & conditions'
faq: 'Časté dotazy'
cookiesText: 'Tento web používá k poskytování služeb, analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.'
state: 'State'
cancel: 'Zrušit'
