homepagestats:
    parkingSpaces: 'Parking places'
    reservations: 'Reservations'
    paid: 'Paid'
    users: 'Users'
    yearRecap: 'Year recapitulation'
    currency: 'Kč'
    dataFromTo: 'Date from %from% to %to%'
    month01: 'January'
    month02: 'February'
    month03: 'March'
    month04: 'April'
    month05: 'May'
    month06: 'June'
    month07: 'July'
    month08: 'August'
    month09: 'September'
    month10: 'October'
    month11: 'November'
    month12: 'December'
usersgrid:
    login: 'Login'
    name: 'Full name'
placesgrid:
    id: 'ID'
    street: 'Street'
    identifier: 'Code'
    price: 'Price'
    lat: 'Lat'
    lng: 'Lng'
    capacity: 'Capacity'
    empty: '-------------'
    type: 'Type'
    positionsCapacity: 'Free space / Capacity'
    types:
        prospect: 'Prospect'
        resident: 'Resident'
        handicapped: 'Handicapped'
        automat: 'Automat'
        timedisc: 'Timedisk'
        selected: 'Selected'
        free: 'Free'
        shared: 'Shared'
        smszone: 'SMS zone'
    deleteConfirm: 'Realy delete a parking place?'
creditsgrid:
    username: 'Email'
    name: 'Name'
    typeChargeByGate: 'Dobití kreditu přes platební bránu'
    chargeByClaim: 'Dobití kreditu nárokem z města'
    price: 'Credit count'
    createdAt: 'Created at'
cardsgrid:
    username: 'Email'
    rz: 'Registration'
    company: 'Company name'
    cin: 'Identification'
    handicapped: 'Handicapped'
placecardsgrid:
    username: 'Email'
    fullName: 'Full name'
inspectionsgrid:
    id: 'ID'
    street: 'Street name'
    code: 'Parking code'
    date: 'Date'
    result: 'Result'
    detail: 'Detail'
    delete: 'Delete'
maintenancesgrid:
    id: 'ID'
    street: 'Street name'
    code: 'Parking code'
    date: 'Date'
    result: 'Result'
    detail: 'Detail'
    delete: 'Delete'
ordersgrid:
    id: 'ID'
    vs: 'VS'
    placeIdentifier: 'Identification'
    price: 'Price'
    paid: 'Paid'
    refund: 'Refund'
    rz: 'RZ'
    email: 'E-mail'
    from: 'From'
    to: 'To'
    paymentType: 'Payment type'
    paymentTypeGate: 'Payment gate'
    paymentTypeCredit: 'Credit'
    paymentTypeFree: 'Free'
    paymentTypeSms: 'SMS'
organizationsgrid:
    id: 'ID'
    cin: 'Identification'
    name: 'Name'
    address1: 'Address 1'
    address2: 'Address 2'
    deleteConfirm: 'Realy delete an organization?'
timewindowsgrid:
    weekday: 'Weekday'
    begin: 'Begin'
    end: 'End'
weekdays:
    monday: 'Monday'
    tuesday: 'Tuesday'
    wednesday: 'Wednesday'
    thursday: 'Thursday'
    friday: 'Friday'
    saturday: 'Saturday'
    sunday: 'Sunday'
historysenzorgrid:
    id: 'Id'
    device: 'Device number'
    lat: 'Lat'
    lng: 'Lng'
    status: 'State'
    statusFull: 'Full'
    statusFree: 'Free'
    statusUndefined: 'Undefined'
    createdAt: 'Created at'
positiongrid:
    id: 'Id'
    senzorNumber: 'Number'
    senzorName: 'Name'
    senzorStatus: 'State'
    senzorStatusFull: 'Full'
    senzorStatusFree: 'Free'
    senzorStatusUndefined: 'Undefined'
    senzorStatusCahngedAt: 'State change at'
