parkingPlaces: 'Parkovací místa'
myReservations: 'Moje rezervace'
myAccount: 'Můj účet'
placesInspection: 'Kontrola míst'
reservation: 'Rezervace'
parkingFrom: 'Parkování od'
parkingTo: 'Parkování do'
parkingTime: 'Doba parkování'
rz: 'SPZ'
minutesCount: '%minutes% minutes'
creditsCount: '%credits% kreditů'
reserve: 'Rezervovat'
pay: 'Zaplatit'
msgReservationSucceed: 'Rezervace proběhla úspěšně.'
msgReservationCanceled: 'Reservation was canceled.'
msgReservationFailed: 'Reservation payment failed.'
msgReservationInProgress: 'Reservation is processing.'
msgCancelReservationSucceed: 'Stornování rezervace proběhlo úspěšně.'
msgReservationAlreadyCanceled: 'Rezervace je už stornována.'
createdReservation: 'Nezaplacena'
waitingReservation: 'Čekající na platbu'
paidReservation: 'Zaplacena'
canceledReservation: 'Stornována'
processingReservation: 'Reservation processing'
fullRefundedReservation: 'Plně přeplacena'
partlyRefundedReservation: 'Částečně přeplacena'
presentReservations: 'Aktuální'
waitingReservations: 'Čekající na platbu'
lastReservations: 'Poslední'
futureReservations: 'Budoucí'
reservationDetail: 'Detail rezervace'
newPassword: 'New password'
confirmNewPassword: 'Confirm new password'
passwordDoNotMatch: 'Passwords do not match.'
passwordLengthAtLeast: 'Password has to be at least %length% characters long.'
changePassword: 'Change password'
enterNewPassword: 'Enter new password'
passwordChangeSuccess: 'Password was changed successfully. Now you can <a href="%link%">sign in</a>.'
