password:
    change: 'Change password'
    newPassword: 'Nové heslo'
    newPasswordAgain: 'Nové heslo (pro kontrolu)'
    rule:
        notMatch: 'Hesla se neshodují'
        again: 'Napište heslo ještě jednou'
        required: 'Heslo musíte vyplnit'
signin:
    email: 'Email:'
    password: 'Heslo:'
    remember: 'Uložit připojení'
    submit: 'Přihlásit'
    rule:
        email: 'Vyplňte prosím Email.'
        password: 'Zadejte prosím Vaše heslo.'
signup:
    email: 'Email / Login'
    name: 'Jméno a příjmení'
    password: 'Heslo'
    passwordAgain: 'Nové heslo (pro kontrolu)'
    consent: 'Registrací souhlasím se zpracováním osobních údajů'
    submit: 'Registrujte mně!'
    rule:
        email: 'Email je povinný'
        password: 'Heslo musíte vyplnit'
        again: 'Napište heslo ještě jednou'
        notMatch: 'Hesla se neshodují'
        consent: 'Registrace bez souhlasu se zpracováním údajů není možná.'
card:
    name: 'Celé jméno'
    email: 'Email'
    phone: 'Telefon'
    rz: 'Registrační značka'
    rzHelpText: 'Separate each registration number with comma.'
    company: 'Název firmy'
    cin: 'IČ'
    tin: 'DIČ'
    street: 'Ulice a ČP'
    city: 'PSČ a Město'
    place: 'Parking place'
    handicapped: 'Hendikepovaný'
    submit: 'Uložit'
    rule:
        name: 'Vyplňte prosím Celé jméno.'
        nameLength: 'Filed name is too long.'
        email: 'Vyplňte prosím Email.'
        emailFormat: 'Zadejte prosím email ve správném formátu.'
        emailUsed: 'Karta na tento email už je vedena.'
        phone: 'Vyplňte prosím Telefon.'
        phoneLength: 'Phone number is too long.'
        rz: 'Vyplňte prosím Registrační značku.'
        street: 'Vyplňte prosím Ulici a ČP.'
        city: 'Vyplňte prosím PSČ a Město.'
        addressLength: 'Filled address is too long.'
        companyLength: 'Filled company name is too long.'
        cinLength: 'Filled IČ is too long.'
        tinLength: 'Filled DIČ is too long.'
profile:
    creditAmount: 'Počet kreditů'
inspection:
    date: 'Datum'
    text: 'Text'
    result: 'Výsledek'
    submit: 'Uložit'
maintenance:
    date: 'Datum'
    text: 'Text'
    result: 'Výsledek'
    submit: 'Uložit'
    rule:
        date: 'Je potřeba vyplnit datum'
organization:
    name: 'Název organizace'
    state: 'Stát'
    cin: 'IČ'
    email: 'Email organizace'
    phone: 'Telefon organizace'
    street: 'První řádek adresy (ulice a čpop)'
    city: 'Druhý řádek adresy (PSČ a město)'
    credits: 'Počet kreditů'
    submit: 'Uložit organizaci'
    interval: 'Minimální interval mezi rezervacemi'
    demo: 'Demo project'
    smsKeyword: 'SMS Identification'
    rule:
        name: 'Název organizace je povinný'
        state: 'Stát organizace je povinný'
bankdetail:
    paymentGateway: 'Payment gateway'
    vs: 'Prefix pro generování VS'
    submit: 'Uložit údaje'
user:
    login: 'Login'
    role: 'Role'
    name: 'Celé jméno'
    password: 'Heslo'
    submit: 'Uložit'
place:
    smsKeyword: 'SMS Zone'
    street: 'Název ulice'
    identifier: 'Identifikátor místa'
    price: 'Cena za jednotku'
    priceExtend: 'Cena nouzového prodloužení'
    capacity: 'Kapacita'
    lat: 'Lat'
    lng: 'Lng'
    radius: 'Okruh lokality'
    description: 'Popis místa'
    countFreePlaces: 'Automatic parking place occupancy evaluation'
    spare: 'Chcete toto místo rezervovat jako náhradní?'
    submit: 'Uložit parkovací místo'
    spareSelect: 'Zvolte náhradní parkovací místo'
    empty: 'Žádné'
    advanceReservation: 'Je možné rezervovat místo dopředu?'
    maxReservationTime: 'Maximální doba rezervace'
    type: 'Typ parkovacího místa'
    reservedForZaparkujto: 'Vyhrazeno pro ZAPARKUJTO'
    types:
        prospect: 'Prospect'
        resident: 'Resident'
        hendicapped: 'Pro vozíčkáře'
        automat: 'Automat'
        timedisc: 'Kotouč'
        selected: 'Výběrové'
        free: 'Zdarma'
        shared: 'Shared'
        smszone: 'SMS zone'
    rule:
        street: 'Název organizace je povinný'
        capacity: 'Je potřeba zadat kapcitu místa.'
        capacityInt: 'Kapacita musí být celé číslo.'
        maxReservationTime: 'Je potřeba zadat Maximální dobu rezervace.'
        maxReservationTimeInt: 'Maximální doba rezervace musí být celé číslo.'
placecards:
    submit: 'Přiřadit'
    rule:
        email: 'Vyplňte prosím Email.'
        emailFormat: 'Zadejte prosím email ve správném formátu.'
        unknownEmail: 'Karta na tento email nebyla nalezena.'
timewindow:
    weekday: 'Weekday'
    begin: 'Begin'
    end: 'End'
position:
    senzorNumber: 'Číslo parkovacího senzoru'
    submit: 'Odeslat'
    rule:
        senzorNumber: 'Toto číslo senzoru už je v systému zařazeno, použijte jiné'
