ItemsPerPage: 'Položky na stránku'
Actions: 'Akce'
Search: 'Hledat'
Reset: 'Reset'
Items: 'Položky'
NoResults: 'Žádné výsledky'
HintNumber: ''
ExportAllItems: 'Exportovat položky'
Paginator:
	Info: ''
	Previous: 'Předchozí'
	Next: 'Další'
	First: 'První'
	Last: 'Poslední'
