orders:
    title: 'Parking tickets'
bankdetail:
    title: 'Organizations'
    bankDetail: 'Bank details'
cards:
    title: 'Park card administration'
    cardDetail: 'Park card detail'
    addCard: 'New park card'
    timeWindows: 'Time windows'
    addTimeWindow: 'New time window'
    timeWindowDetail: 'Informace o časovém oknu'
    placeOffered: 'Parkovací místo nabízeno'
    yes: 'Yes'
    no: 'No'
    offer: 'Nabízet'
    stopOffering: 'Nenabízet'
secure:
    title: 'Caption'
credits:
    title: 'Credits assignment'
    exportXls: 'Export to XLS'
places:
    title: 'Správa parkovacích míst'
    detail: 'Informace o parkovacím místě'
    detailImage: 'Obrázek parkovacího místa'
    uploadImage: 'Nahrát obrázek'
    uploadImageProgress: 'Nahrává se obrázek'
    add: 'Vytvořit nové parkovací místo'
    parkingCards: 'Parking cards'
    totalCount: 'Total count'
    assignCard: 'Přiřadit existující kartu'
    park: 'Parkujte'
    onStreet: 'na ulici %street%'
    freeNow: 'Volno hned'
    freeAfter: 'Volno za %minutes% min'
    toTime: 'do %time%'
    places: 'Parkovací místa'
    backToPlaceDetail: 'Zpět na detail parkovací místa'
    positionId: 'Position Id %id%'
    addPositionFor: 'Přidat místo pro'
    position: 'Místo v parakovišti'
inspections:
    title: 'Kontrola parkovacích míst'
    protocol: 'Protokol o kontrole'
    protocolForm: 'Formulář kontroly'
home:
    title: 'Přehled rezervace parkovacích míst pro %name%'
    effectiveParking: 'effectiveParking'
    mobileReservation: ''
maintenances:
    title: 'Údržba parkovacích míst'
    detail: 'Detail'
    add: 'Přidat údržbu'
organizations:
    title: 'Správa organizací'
    terms: 'Nastavení obchodních podmínek'
    termsPersonal: 'Nastavení souhlasu se zpracováním osobních údajů'
    termsContacts: 'Nastavení kontaktních údajů'
    detail: 'Úprava informací o organizaci'
    add: 'Přidat nové město do systému rezervací'
    new: 'Nová organizace'
    form:
    submit: 'Ulož to!'
users:
    title: 'Správa uživatelů'
    add: 'Nový uživatel'
    detail: 'Detail uživatele'
    new: 'Nový uživatel'
profiles:
    profile: 'Profile'
contacts:
    detail: 'Detail bankovních údajů'
    form:
        contacts: 'Kontaktní údaje'
        submit: 'Uložit údaje'
sign:
    in: 'Přihlášení do aplikace'
base:
    title: 'zaparkujto.cz'
    titleSmall: 'Z'
    search: 'Search...'
    overview: 'Overview'
    logedUser: 'Logged user'
    logout: 'Logout'
    center: 'Supervision centre'
    cityManage: 'Organization management'
    setting: 'Settings'
    city: 'City'
    users: 'Users'
    cards: 'Parking cards'
    list: 'List'
    add: 'Add'
    baseInfo: 'Basic info'
    contactInfo: 'Contacts'
    bank: 'Bank and payment gateway'
    terms: 'Terms and conditions'
    faq: 'FAQ'
    termsUser: 'Processing of personal data'
    drivers: 'Drivers'
    staff: 'Staff'
    services: 'Traffic'
    parking: 'Parking'
    parkingEvidence: 'Places'
    parkingOrders: 'Parking tickets'
    maintenances: 'Maintenance'
    maintenancesList: 'Maintenance list'
    maintenancesDone: 'Maintenance history'
    control: 'Checks'
    controlList: 'Places to check'
    controlDone: 'Checked places'
