{extends '../@layout.driver.latte'}
{block #content}

<h1>
    {_presenters.profiles.profile}
</h1>

{include '../../../Base/components/BSFormLTE.latte', form => form, formName => '', controlClass => 'col-md-12'}
