{extends '@layout.latte'}
{block content}
<!-- Main content -->
{include '../../../Base/components/BSFormLTE.latte', form => signInForm, formName => 'presenters.sign.in', controlClass => 'col-md-12'}
