{extends '../@layout.admin.latte'}

{block content}
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				{control grid}
			</div>
            {*
			<div class="col-md-12">
				<a n:href="grid-exportToXls!" class="btn btn-info right">{_presenters.credits.exportXls}</a>
				<div class="clear"></div>
			</div>
            *}
		</div>
	</section>
