{extends '@layout.latte'}
{block content}

<h1>API ERROR</h1>
<p>
<strong>ERROR_CODE:</strong> {$code} <br />
<strong>ERROR_MESSAGE:</strong> {$message} <br />
</p>
<hr />
<p>
    If you want to help, please contact us!<br />
    info@zaparkujto.cz
</p>
